<h1> My Tasks </h1>

<ol id="task_list">

  <% @tasks.each do |task| %>
  <li>
    <% if task.completed %>
    <input type="checkbox" name="vehicle3" value="Boat" checked>
  <% else %>
    <input type="checkbox" name="vehicle3" value="Boat">
  <% end %>

    <%= link_to task.title, task_path(task) %> <%= link_to " •  Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }  %>
  </li>
  <% end %>



</ol>

